*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Kurale', serif;
  color: #030003;
  font-weight: 400;
}

.main {
  text-align: center;
  padding: 20px;
}

.main__certificate {
  margin-bottom: 10px;
}

.main__certificate > a {
  font-weight: 600;
  font-size: 20px;
  color: inherit;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.products {
  list-style-type: none;
}

.products__group {
  overflow: hidden;
}

.products__list {
  list-style-type: none;
  transition: all .5s ease;
}

.products__item:not(:last-child) {
  margin-bottom: 10px;
}

.products__link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 0 10px;
}

.products__name, .products__price {
  flex: 1 1 100%;
}

.products__name {
  font-weight: 600;
  line-height: 1;
  font-size: 18px;
}

.products__price {
  font-size: 15px;
}